

.container_hard_skills{
    display: flex;
    overflow-x: hidden;
}
.main_hard{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.transparent{
    height: 100vh;
    width: 70px;
    background-color:transparent;
}