.section_course{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
   
}
li{
    list-style: none;
    margin-bottom: 10px;
}
.course_title{
    width: 60vw;
    background-color: #141923;
    color: white;
    padding: 15px 20px;
    border-radius: 7px;
    transition: 0.5s;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}
.course_arrow{
    position: absolute;
    max-width: 25px;
    right: 20px;
    transition: 0.4s;
}
.course_arrow:hover{
    transform: translateY(3px);
}
.status{
    position: absolute;
    max-width: 25px;
    margin-left: 15px;
}

.course_div_main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video{
    margin-top: 20px;
}