

.main_soft{
    height: 100vh;
    background-color:#F2F2F2 ;
    overflow-x: hidden;
}
.container_soft_skills{
    display: flex;
}
.transparent{
    height: 100vh;
    width: 73px;
    background-color:transparent;
}