@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

:root {
    --main-background-color: #363636;
    --text-color: #fff;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
}

header {
    width: 100vw;
    height: 104px;
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 10px;
}

.header_login {
   display: flex;
   gap: 10px;
   align-items: center;
}

.header_user_dates {
    font-size: 0.9em;
}



